{
  "version": "0.0.6",
  "build": "6",
  "minOS": "15.0",
  "publishedAt": "2026-08-19T13:40:44Z",
  "notes": "SnapFlow 0.0.6",
  "notesURL": "https://zeycode.cn/snapflow/changelog.html",
  "downloadURL": "https://zeycode.cn/snapflow/downloads/latest/SnapFlow-arm64.dmg",
  "mandatory": false,
  "sha256": "8328e69e6a899521f686c96d3d6878f7212fd68f6febaf784c9c2cb10ef73d35"
}
